.form-container {
    width: 50vw;
    margin: auto;

    padding: 40px;

    background-image: linear-gradient(to bottom right, rgb(40, 106, 187), rgb(0, 191, 255));
    box-shadow: 67px 67px 7px 7px GREY;

    border-radius: 10px;
}

form {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

form label {
    margin: auto;
    margin-right: 0px;
    color: white;
}

form input {
    text-align: center;
    border-radius: 5px;

    color: black;
}

#submit-button {
    background-color: rgb(53, 125, 192);
    color: white;
}

#fiber, #protein, #added_sugar {
    width: 4vw;
    text-align: left;
}

#image, #name {
    height: 4vw;
}