.navBar {
    display: grid;
    grid-template-columns: 2fr .5fr .5fr .5fr;
    width: 100vw;
    height: 15vh;
    margin-bottom: 4%;
    background-image: linear-gradient(to bottom right, rgb(40, 106, 187), rgb(0, 191, 255));
    color: white;
    justify-content: center;
    text-align: left;
    box-shadow: 7px 7px 7px 7px GREY;


}

.navBar h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    text-decoration: underline;
}

.navBar a {
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;

}

a:hover {
    color: blue;
}

@media screen and (max-width: 768px) {
    .navBar h1 {
        font-size: 1.5rem;
    }

    .navBar a {
        font-size: 1rem;
    }



}