h3{
   /* font-size:calc(12px + 1.5vw); */
font-size: calc(10px + 1vw);
    margin-top: 4%;
    margin-bottom: 10%;
}


.snack{ 
    width: 40vw;
    height: 50vh;
    min-height: 200px;
    min-width: 150px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, rgb(40, 106, 187), rgb(0, 191, 255));
    padding: 4%;
    border-radius: 15%;
        box-shadow: 27px 27px 7px 7px GREY;
}

#heartLogoSnack{
    display: inline-block;
    width: 10%;
    height: 10%;
  
}

#thumbnail{
    height: 55%;
    width: 55%;
    border-radius: 50%;
border: ridge rgb(213, 196, 196) 2px;
}

@media screen and (max-width: 768px) {
h3{
    font-size: .7rem;
}

#thumbnail{
    height: 70%;
        width: 70%;
}

.snack{
        width: 40vw;
            height: 50vh;
}
    }